*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$white:#ffffff;
$tobaccoBrown: #6a5243;
$codGray: #0e0e0d;
$manatee: #929295;
$atoll:#0a5e6c;
$chalky: #f0caa1;
$rawSienna: #d68843;
$perfume: #bda2f3;
$daisyBush: #5b2ca2;
$japaneseLaurel: #287a00;
$outerSpace: #282d2c;
$pearlBush: #e9dedc;
$millbrook: #694a3a;
$leather: #9f7651;
$mamba: #878589;
$driftwood: #b77c49;
$sandrift: #b2927b;
$secondAtoll: #086875;
$limedSpruce: #344747;
$tan: #d6b28d;
$newYork: rgb(237, 248, 250);
$london: rgb(249, 241, 221);